section {
  height: 100%;
}

h1 {
  font-size: 36px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--v-secondary-base);
}

span,
p {
  color: var(--v-text-base);
}

.text-red {
  color: var(--v-error-base);
}
