.v-application--wrap {
  background-color: #f1f1f1;
}

section {
  height: 100%;
}

h1 {
  font-size: 34px;
}

h1,
h2,
h3,
h4,
h5,
h6 span,
p,
label {
  color: var(--v-text-base);
}

.text-red {
  color: var(--v-error-base);
}
